/*
 * OddsCalculator css File
*/

.OddsCalculator {
    display: flex;
    padding: 15px;
    background: beige;
    border: 1px solid black;
    margin: 10px;
    width: 725px;
}

.basicProps{
    display: flex;
    padding: 0 15px;
}

.probability{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.probability input{
    margin: 2px;
    padding: 1px;
    width: 100px;
}

.odds{
    display: flex;
    flex-direction: column;
}

.textYieldCalculate{
    padding: 0 10px;
}

.yieldCalculate{
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.OddsCalculator p {
    font-size: 13px;
    padding: 3px;
    margin: 0;
}